/* Start Default Theme*/

/* Active color*/

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus,
 .navbar-inverse .navbar-nav>.active>a:hover,.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover,.carousel-indicators .active,.option-box .gear-check
{
    background-color:#4fea64;
}

/* Link color*/

.navbar-inverse .navbar-brand span,.about h1 span,.testimonials span, .footer h3, .footer .copyright span {
    color:#4fea64;
}
.dropdown-menu, .option-box .color-option ,.testimonials .carousel-indicators li.active  {
    border-top: 4px solid #4fea64; 
}
/* End Default Theme*/



